pandas>=0.16.2
requests>=2.21.0
scp-ingest-pipeline==1.4.0

# For faster development iterations.
# ../../scp-ingest-pipeline

# Dev dependencies
pytest==5.0.1
coverage==4.5.3
pytest-xdist==1.29.0
pytest-cov==2.8.1
