pandas>=0.16.2
requests>=2.21.0
# git+git://github.com/broadinstitute/scp-ingest-pipeline@e3160aa#egg=scp-ingest-pipeline
/Users/eweitz/scp-ingest-pipeline

# Dev dependencies
pytest==5.0.1
coverage==4.5.3
pytest-xdist==1.29.0