pandas>=0.16.2
requests>=2.21.0

# TODO: Publish `scp-ingest-pipeline` to PyPI upon merging that repo to master.
# PyPI (https://pypi.org) is like NPM or RubyGems, but for Python.
git+git://github.com/broadinstitute/scp-ingest-pipeline@d809078#egg=scp-ingest-pipeline

# For faster development iterations.
# ../scp-ingest-pipeline

# Dev dependencies
pytest==5.0.1
coverage==4.5.3
pytest-xdist==1.29.0
